body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.logo {
    width: 140px;
    margin: 50px;
    margin-top: 15px;
  }

.main_head {
    margin: 55px;
    font-weight:bolder;
    color: rgb(57, 49, 180);
    font-family: 'Merriweather', serif;
    margin-top: -10px;
    margin-bottom: -20px;
    font-size: 30px;
  }

  .container {
    display: flex;
    height: 85vh;
    margin-top: -30px;
  }
  
  .left {
    margin-top: 50px;
    margin: 50px;
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right {
    
    margin: 50px;
    flex: 0.4;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .custom-appbar {
    
    width: 100%;
    height: 100%;
    color: beige;
    margin-top: 10px;
  }
  

  .please {
    margin-top: 30px;
    color: gray;
    margin: 20px;
    margin-right:-170px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
.already{
  margin-top: 20px;
  font-size: 12px;
  margin-left: 260px;
}

.mid{
 align-items: center;
 margin: 20px;
 margin-left: 250px;
}

.para{
  font-size: 17px;
}

.containere {
  width: 100px;
  height: 100px;
  margin-left: 290px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dcd9d9;
}

::-webkit-scrollbar-thumb {
  background: #1433b1;
}

::-webkit-scrollbar-thumb:hover {
  background: #717171;
}